@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap");

.button {
  margin-top: 0.5rem;
  padding-left: 1rem;
}
body {
  background : #191d32;
  font-family: "Sora", sans-serif;
  color: white;
}
.title {
  font-weight: 700;
  text-transform: uppercase;
}
.disabled {
  color: gray;
  font-size: 0.6rem;
}
.card-title {
  color: white;
  font-size: 1.2rem;
}
footer p {
  font-size: 1rem;
  color: white;
}
i {
  padding-right: 0.5rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

