@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap");

body {
  background: #293241;
  font-family: "Sora", sans-serif;
  color: white;
}

.button {
  margin-top: 0.1rem;
  padding-left: 1rem;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.disabled {
  color: gray;
  font-size: 0.6rem;
}

.maincard {
  background: rgba(52, 54, 76, 0.75);
  border-left: 0.3rem solid #ff7208;
}

/* colors 
#ff9a29	(255,154,41) orange-l
#ff7208	(255,114,8) orange-m
#f15c00	(241,92,0) orange-s
#1978c7	(25,120,199) blue-l
#332976	(51,41,118)  blue-s
*/
